<link rel="stylesheet" href="/css/home.css">


<form action="/upload-csv" enctype="multipart/form-data" method="post">
  <div id="form-div">
    <input type="file" name="file" accept=".csv">
    <input type="submit" value="submit">            
  </div>
</form>

<div id="fileList">
  <% files.forEach(file=>{%>
    <div class="list">
      <div class="fileName"><%=file.filename%></div>
      <a href="/view/?id=<%=file._id%>"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      <div>
        <a href="/delete/?id=<%=file._id%>"><i class="fa-solid fa-eraser"></i></a>
      </div>
    </div>
  <%})%>
</div>
          
